@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Archivo+Narrow&family=Bangers&family=Barlow+Condensed&family=Bebas+Neue&family=Fjalla+One&family=Julius+Sans+One&family=Luckiest+Guy&family=Macondo&family=Noto+Sans:wght@300;400&display=swap');

html{
    font-family: 'Bangers', cursive;
}

input {
    font-family: inherit;
    text-align: center;
    font-weight: bold;
}

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.container{
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    width: 100vw;
    height: 100vh;
    max-width: 100%;
    color: darkblue;
}

.header{
    display: grid;
    grid-column: 1/4;
    grid-auto-flow: column;
    justify-content:space-around;
    box-shadow: 0 4px 1px lightblue;
}

.tableboard div {
    min-width: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 10rem;
    color: darkblue;
}

.battleground {
    display: grid;
    grid-template-rows: 9fr 1fr;
}

.tableboard {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}

.battle-result {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
}

.team-images > img {
    display: flex;
    width: 12rem;
    height: auto;
    box-shadow: 10px 10px 8px 8px white inset;
    border-radius: 100px;
    box-shadow: 0 0 10px 8px gray;
}

.team-images > img:hover {
    transform: scale(1.1);
    border-color: #ffc600;
    box-shadow: 0 0 5px 8px #ffc600;
    transition: all 0.2s;
}

.main-hero{
    border-radius: 250px;
}

.team-images {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    align-items: center;
    justify-content: center;
    justify-items: center;
    align-content: center;
}

.player-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.team-selection{
    display: grid;
    grid-template-rows:1fr 1fr;
}

.hero-chosen {
    display: flex;
    justify-content: center;
    align-items:stretch;
    border-radius: 50%;
    width: 18rem;
    height: 18rem;
    box-shadow: 0 0 50px 10px blue, 0 0 5px 5px #b400ff, 0 0 14px 9px #ff00d4;
    margin: 4rem;
    -webkit-animation: glowing 1s ease-in-out infinite alternate;
    -moz-animation: glowing 1s ease-in-out infinite alternate;
    animation: glowing 1s ease-in-out infinite alternate;    
}

@-webkit-keyframes glowing {
    from {
      box-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #f0f, 0 0 40px #0ff, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
    }
    to {
      box-shadow: 0 0 30px yellow, 0 0 40px orange, 0 0 50px orangered, 0 0 60px red, 0 0 70px yellow, 0 0 80px yellowgreen, 0 0 90px red;
    }
  }

input {
    font-size: 2rem;
    outline: 0;
    border-style: none;
    background: inherit;
    color: darkblue;
}

label {
    font-size: 1.5rem;
    margin: 1rem;
}

.tablesquare {
    border-width: 0.1rem;
    background-color: whitesmoke;
    margin: 0.5rem;
}

.btn-start-game {
  margin: 1rem;
  appearance: none;
  backface-visibility: hidden;
  background-color: orange;
  border-radius: 10px;
  border-style: none;
  box-shadow: none;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: inherit;
  font-size: 15px;
  font-weight: 500;
  height: 50px;
  letter-spacing: normal;
  line-height: 1.5;
  outline: none;
  overflow: hidden;
  padding: 14px 30px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transform: translate3d(0, 0, 0);
  transition: all .3s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: top;
  white-space: nowrap;
}

.btn-start-game:hover {
  background-color: red;
  box-shadow: rgba(0, 0, 0, .05) 0 5px 30px, rgba(0, 0, 0, .05) 0 1px 4px;
  opacity: 1;
  transform: translateY(0);
  transition-duration: .35s;
}

.btn-start-game:hover:after {
  opacity: .5;
}

.btn-start-game:active {
  box-shadow: rgba(0, 0, 0, .1) 0 3px 6px 0, rgba(0, 0, 0, .1) 0 0 10px 0, rgba(0, 0, 0, .1) 0 1px 4px -1px;
  transform: translateY(2px);
  transition-duration: .35s;
}

.btn-start-game:active:after {
  opacity: 1;
}

@media (min-width: 768px) {
  .btn-start-game {
    padding: 14px 22px;
    width: 176px;
  }
}

/*
.ts-0{
    border-style: none solid solid none;
}

.ts-1{
    border-style: none solid solid solid;
}

.ts-2 {
    border-style: none none solid solid;
}

.ts-3 {
    border-style: solid solid solid none; 
}

.ts-4 {
    border-style: solid solid solid solid;
}

.ts-5 {
    border-style: solid none solid solid;
}

.ts-6 {
    border-style: solid solid none none;
}

.ts-7 {
    border-style: solid solid none solid;
}

.ts-8 {
    border-style: solid none none solid;
}*/
