@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Archivo+Narrow&family=Bangers&family=Barlow+Condensed&family=Bebas+Neue&family=Fjalla+One&family=Julius+Sans+One&family=Luckiest+Guy&family=Macondo&family=Noto+Sans:wght@300;400&display=swap');

html{
    font-family: 'Bangers', cursive;
}

input {
    font-family: inherit;
    text-align: center;
    font-weight: bold;
}

button {
    font-family: inherit;
}

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.container{
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    width: 100vw;
    height: 100vh;
    max-width: 100%;
}

.battleground {
    display: grid;
    grid-template-rows: 1fr 6fr 1fr;

}

.header{
    display: flex;
    justify-content: center;
    align-items: center;
}

.tableboard div{
    display: flex;
    border:white 10px solid;
    align-items: center;
    justify-content: center;
    font-size: 10rem;
    color: aliceblue;
}

.battleground .tableboard {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}

.battle-result {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
}

.team-images > img {
    display: flex;
    width: 12rem;
    height: auto;
    box-shadow: 10px 10px 8px 8px white inset;
    border-radius: 20px;
}

.team-images > img:hover {

    border: black 2px solid ;
}

.team-images {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    align-items: center;
    justify-content: center;
    justify-items: center;
    align-content: center;
}

.player-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.team-selection{
    display: grid;
    grid-template-rows: 0.25fr 1fr 1fr;
}

.hero-chosen {
    display: flex;
    justify-content: center;
    align-items:stretch;
}

input {
    font-size: 2rem;
}

label {
    font-size: 1.5rem;
}

.btn-start-game {
    width: 15rem;
    height: 5rem;
}

.tablesquare {
    background-color: cadetblue;
}